
<template name='main'>
  <head>
    <link rel="icon" sizes="16x16 32x32" href="/glucoseredicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>sixcarbons</title>
  </head>
  <body>
    <div class='container'>
      {{> applicationLayout}}
    </div>
  </body>
</template>
