<template name='navbar'>
  <nav class="navbar navbar-default">

        <a class="navbar-brand" href="/"><img src="/glucosewhite.png" id='logo'></a>

        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/dextrose" >glucose</a>
          </li>
          <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="/insulin">insulin<b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="/insulin">basal rate designer</a></li>
                    <li><a href="/newpump">set up a new pump</a></li>
                </ul>
          </li>
          <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="/convert">hba1c<b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="/convert">hba1c converter</a></li>
                </ul>
          </li>
          <!--li class="nav-item">
            <a class="nav-link" href="/glucagon" >glucagon</a>
          </li-->
        </ul>

  </nav>
</template>
