@import "{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


.header {
  color: #333;
}

h1 {
  color: red;
}

#mgkgmin {
  color: red;
}

#glucose {
  max-height: 150px;
  max-height: 150px;
  padding: 20px;
  float: right;
}
